/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), 
    url('../fonts/rubik-v21-latin-regular.woff') format('woff'); 
}
/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), 
    url('../fonts/rubik-v21-latin-500.woff') format('woff'); 
}

/* noto-sans-500 - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-v27-latin-500.woff2') format('woff2'), 
    url('../fonts/noto-sans-v27-latin-500.woff') format('woff'); 
}